<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="toc.html">Contents</a>
  </li>
  <li><a href="index.html">IG Home</a></li>
  <li><a href="artifacts.html">Full Artifact Index</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="menu.html" class="dropdown-toggle">Support
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
      <li>
        <a href="changelog.html">Change Log</a>
      </li>
    </ul>
  </li>
</ul>      
